
<style>
    @@font-face {
        font-family: Hero;
        font-weight: 700;
        src: url("fonts/ofont.ru_Hero.ttf");
    }

    body {
        background-image: url('img/End/End.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter:brightness(80%);
        margin: 0;
        padding: 0;
    }

    html, body {
        overflow: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .dialog {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(73, 73, 103, 0.8);
        padding: 30px;
        border: none;
        border-radius: 20px;
        z-index: 1000;
        font-family: Hero;
    }

    .dialog-message {
        background-color: rgba(186, 186, 186, 0.74);
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    }

    body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 9999;
        animation: fadeOut 3s ease-in-out forwards;
    }

    @@keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            visibility: hidden;
        }
    }
</style>

<body>
    <div class="dialog" id="dialog">
        <p class="dialog-message" id="dialog-msg"></p>
    </div>
</body>

<script>
    function showDialog(){
        document.getElementById("dialog").style.display = "block";
        document.getElementById("dialog-msg").textContent = "Спасибо за прохождение";
    }
    setTimeout(showDialog, 5000);
</script>